body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);


}

.flag {
    width: 400px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    box-shadow: 10px 20px 16px 20px #888888;
    
    animation: rotatechakra 6s linear infinite;
       



}

.saffron {
    background-color: rgb(255, 89, 6);
    width: 100%;
    height: 33.33%;
}

.white {
    background-color: white;
    width: 100%;
    height: 33.33%;
}

.green {
    background-color: green;
    width: 100%;
    height: 33.33%;
}

.Ashoka-chakra {
    width: 30%;
    height: 33%;
    position: absolute;
    top: 33.44%;
    left: 33%;
    background-image: url('ashoka-chakra.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
@keyframes rotatechakra{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
